DB_URL=mongodb+srv://matiastrinidad:WD843EAA1JXh5VvY@cluster0.hp6qzg8.mongodb.net/

DB_NAME=mydb
COLLECTION_NAME=users

CLOUD_NAME=dqxd8euqj
API_KEY=297946216334816
API_SECRET=PGjpdmnbgVbvVD7xFrNwcLjuMQU


DB_PASSWORD=WD843EAA1JXh5VvY
DB_USER=matiastrinidad

